# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
runClient.launch
runServer.launch

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Random
Forge 1.12.2 14.23.5.2859 MDK.zip
Programmer Art.zip
.vscode
*.bin
*.lock